**/bin
**/obj
**/.vs
**/.vscode
**/node_modules
.git
.github
.gitignore
docs
tests
infra
**/*.db
**/*.db-shm
**/*.db-wal
**/*.user
README.md
Dockerfile
.dockerignore
docker-compose*.yml
docker-compose.dcproj
.env
.env.example
